/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

*{
  box-sizing: border-box;
}

:root{
  /* Colores */
  --color1: #ff0000;
  --color2: #00ff00;
  --color3: #0000ff;
  --color4: #ffff00;
  /* Tamaños */
  --tamCuadrado: 180px;
  --tamPadding: 10px;
  /* Tipografia */
  --fuente: sans-serif;
  --tamFuente: 5px;
  --tamTitulo: 10px;
}

.topleft{
  position: absolute;
  top: 0;
  left: 0;
}
.topright{
  position: absolute;
  top: 0;
  right: 0;
}
.bottomleft{
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottomright{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Cuadrado */
.cuadrado{
  text-align: justify;
  width: var(--tamCuadrado);
  height: var(--tamCuadrado);
  padding: var(--tamPadding);
  background-color: var(--color1);
}

figcaption{
  text-align: center;
}